<div class="container" id="js-container">
    <canvas class="canvas" id="js-canvas" width="420" height="420" data-campagne="{{{img}}}"></canvas>
    <div id="results"></div>
</div>
<style>
    #js-container {
        /*border: 2px solid #db002f;*/
        position: relative;
        width: 424px;
        height: 424px;
        margin: 0 auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        font-family: "Astoria Regular";
        border-radius: 5px;
    }

    #js-container .canvas {
        position: absolute;
        top: 0;
    }

    #js-container .form {
        padding: 20px;
    }

    #results {
        text-align: center;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
</style>
<script src="/assets/scratch.js" ></script>